<div align="center" style="margin-top:60px;">

		<h1 class="text-center text-danger" style="font-size:160px;font-weight:bold;">404!</h1>
		<h1 class="text-center text-danger" style="margin-bottom:30px;">Sayfa Bulunamadı!</h1>
		{{!--<a href="/" class="btn btn-danger btn-lg">Anasayfaya Dön</a>--}}

</div>