doctype html
html
  head
    title File upload in nodejs with progress bar
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(type="text/javascript" src="/js/fileupload.js")
  body
    block content
